# Server
PORT=3000
NODE_ENV=development

# MySQL
# Formato: mysql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_BD
DATABASE_URL="mysql://root:tu_password@127.0.0.1:3306/kaizen_fusion"

# CORS
ALLOWED_ORIGINS="http://localhost:5173"
